<a routerLink=""><h1>Help By Pros</h1></a>

<!--Auth - button to login, etc-->
<header>

    <button routerLink="categories" *ngIf="auth.loggedIn">Browse Questions</button>

    <!-- does not display if not logged in ! -->
    <button routerLink="profile" *ngIf="auth.loggedIn">Profile</button>
    

    <!-- displays if not logged in-->
    <button id="login" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    
    <!-- displayes if logged in -->
    <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
  
    
    
</header>

