<!-- this is the "index", it serves as the home-page for the website-->

<!-- top navbar -->
<app-navbar></app-navbar>


<!-- category only displayes if logged in -->
<!-- moved to it's own component-->
<!-- <app-category></app-category> 

    <div id= "category">    <app-category ></app-category>
    </div>

    <div id ="pq">
            <app-postquestion></app-postquestion>

    </div>
-->


<!-- containers show up here beneith the navbar-->
<div class="container">
    <router-outlet></router-outlet>
</div>